<form action="/auth" method="post">
  <input text="text" class="text" name="username" text-length="8" pattern="^[0-9a-zA-Z]+$" placeholder="ユーザー名を英数字で入力してください。" required>
  <input type="submit" value="Login" class="button">
</form>
